* {
	margin: 0px;
	padding: 0px;
	outline: none;
}

html{
	background-color: #A4A4A4;
}

.container{
	position: relative;
	left: 20%;
	top: 0%;
	height: 100%;
	width: 60%;
	background-color: #FFF;
	border-right: solid 2px #E6E6E6;
	border-left: solid 2px #E6E6E6;
	counter-reset: units;
}

/*Header*/
div.nav{
	background-color: #D8D8D8;
	border: solid 2px #848484;
	float: right;
	padding: 1% 5% 1% 5%;
	border-radius: 100%;
}

li.nav{
	list-style: none;
}

li.nav a{
	color: #000;
	text-decoration: none;
}

li.nav a:hover{
	text-decoration: underline;
}

header{
	border-bottom: solid 1px #000;
	padding-bottom: 20px;
	margin: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.logo{
	width: 70%;
}

/*Content*/


p {
	padding: 20px;
}

.exp {
	position: relative;
	left: -2px;
	width: calc(100% + 4px);
	background-color: #FFEB65;
	box-sizing: border-box;
}

.exp:before {
	counter-increment: units;
	content: counter(units);
	background-color: #000;
	color: #FFF;
	border-radius: 100%;
	font-family: Arial;
	font-size: 20px;
	position: absolute;
	top: 10px;
	left: -15px;
	padding: 4px 10px;
}

/*Footer*/
footer{
	position: relative;
	text-align: center;
	bottom: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #2E9AFE;
	border-top: solid 1px #000;
	border-left: solid 1px #FFF;
	color: #FFF;
}

footer a{
	color: #FFF;
	text-decoration: none;
}

footer a:hover{
	text-decoration: underline;
}

footer a:active{
	color: #FFF;
	text-decoration: none;
}